@use 'colors' as *;
@use 'breakpoints' as *;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008c;
}

#modal-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    height: 75%;
    min-height: 300px;
    width: 95%;

    padding: 2%;

    background-color: $color-primary;
    border-radius: 10px;
}


header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    height: 10%;
    width: 100%;

    margin-bottom: 15px;
    border-bottom: 1px solid $color-secondary;
}

h2 {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 2px;
    padding: 5px;
}

#modal-body {
    width: 100%;
    height: 70%;

    padding: 3%;
    
    margin-bottom: 15px;
    
    border: 1px solid $color-secondary;
    border-radius: 10px;
}

#modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
}

::ng-deep [modal-actions] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 35%;
}

@include tablet-up {
    #modal-container {
        width: 80%;
    }

    #modal-body {
        margin-bottom: 20px;
    }

    #modal-footer {
        padding-bottom: 0;
    }

}

@include desktop-up {
    header {
        margin-bottom: 20px;
    }
    
    #modal-container {
        width: 65%;
    }
}
