@use 'colors' as *;

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid $color-tertiary;
    border-top-color: $color-secondary;
    border-radius: 50%;
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    to { 
        transform: rotate(360deg)
    }
}