@use 'colors' as *;

.toast-container {
    display: flex;
    align-items: center;
    
    position: fixed;

    height: clamp(2rem, 5vh, 6rem);

    bottom: 3vh;
    right: 3vh;

    background-color: $color-secondary;
    
    padding: 10px;
    border-radius: 5px;
        
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.toast-content {
    background-color: $color-secondary;
    color: $color-primary;

    font-size: 1rem;
}