/* You can add global styles to this file, and also import other style files */
$cor-primaria: #121212;
$cor-secundaria: #fffafa;
$cor-terciaria: #333232;
$cor-quartenaria: #181818;


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Material Icons';
    box-sizing: border-box;
    color: $cor-secundaria;
    background-color: $cor-primaria;
}

body {
    height: 100vh;
    width: 100vw;
}

li {
    list-style: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
    
    border: 1px solid red;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.center-space-around{
    align-items: center;
    justify-content: center;
}

.botao-primario {
    background-color: $cor-primaria;
    
    border: 1px solid $cor-secundaria;
    border-radius: 10px;

    padding: 1%;
}

.botao-primario:hover {
    background-color: $cor-secundaria;
    color: $cor-primaria;
    
    cursor: pointer;
}

.botao-primario:visited, .botao-primario:active {
    text-decoration: none;
}