<app-modal-base [titulo]="this.titulo">
  <form [formGroup]="formUsuario" (ngSubmit)="salvar()">
    <div id="campos">
      <div class="campo" id="campo-usuario-nome">
        <label for="usuario-nome">Nome</label>
        <input
          #usuarioNome
          type="text"
          id="usuario-nome"
          minlength="3"
          maxlength="15"
          placeholder="Nome"
          formControlName="nome"
        />
        @if (formUsuario.invalid && this.submitted) {
          @if (formUsuario.controls["nome"].hasError("minlength")) {
            <small>Nome deve possuir, pelo menos, três caracteres</small>
          } @else if (formUsuario.controls["nome"].hasError("maxlength")) {
            <small>Nome deve possuir até quinze caracteres</small>
          } @else if (formUsuario.controls["nome"].hasError("required")) {
            <small>Campo obrigatório</small>
          }
        }
      </div>
      <div class="campo" id="campo-observador">
        <label for="observador">Deseja apenas observar?</label>
        <label class="switch">
          <input type="checkbox" id="observador" formControlName="observador">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <button
      type="submit"
      id="salvar"
      class="botao-primario"
      [class.botao-primario-desabilitado]="this.desabilitado"
      [disabled]="this.desabilitado"
    >
      Salvar
    </button>
  </form>
</app-modal-base>
