@use 'colors' as *;

#table-scroll {
    width: 100%;
    height: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: $color-secondary;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-secondary  ;
}

#session-results-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

th { 
  height: 35px;
  padding: 0px 5px 15px 5px;
  text-align: center;
  vertical-align: middle;
}

td {
  vertical-align: middle;
  padding: 3px;
}

.col-align-center {
  text-align: center;
}

.description-input {
  display: block;
  border: 0;
  font-size: 100%;
  width: 100%;
  height: 40px;
  padding: 0px 5px;
  text-overflow: ellipsis;
}

.delete-session-result-button {  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 5px;
}

.delete-session-result-button > span {
  line-height: 1;
  display: block;
  background-color: transparent;
  color: inherit
}

#export-button {
    margin-right: 1.5%;
}