@use 'colors' as *;
@use 'breakpoints' as *;

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
}

.field {
    margin-bottom: 2%;
    border: none;
}

#user-fields {
    width: 100%;
}

#user-name-field {
    display: flex;
    flex-flow: column nowrap;
}

#user-name-field > label {
    margin-bottom: 1%;
}

#user-name {
    height: 45px;
    width: 100%;
    
    margin-bottom: 1%;

    padding: 10px;
    
    border: 1px solid $color-secondary;
    border-radius: 5px;
}

#observer-field {
    display: flex;
    align-items: center;
    height: 10%;
}

#observer-field > label {
    margin-right: 1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-tertiary;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: $color-quaternary;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $color-secondary;
}

input:checked + .slider:before {
    -webkit-transition: translateX(13px);
    transition: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%
}

#observer:hover {
    cursor: pointer;
}

@include tablet-up {
    #user-name {
        width: 85%;
    }
}

@include desktop-up {
    #user-name {
        width: 75%;
    }
}