@use  'colors' as *;
@use 'breakpoints' as *;

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}

#estimate-options-fields {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    height: 100%;
}

#estimate-options-fields > label {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

#estimate-options {
    height: 45px;
    width: 100%;
    min-width: 200px;
    
    margin-bottom: 1%;

    padding: 10px;
    
    border: 1px solid $color-secondary;
    border-radius: 5px;
}

#estimate-options-tooltip {
    margin: 2px;
    font-size: 75%;
}

#save-button {
    margin-right: 1.5%;
}

