@use 'cores' as *;
@use "breakpoints" as *;

:host {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    
}

h1 {
    width: 100%;

    margin-bottom: 35%;
    font-size: 2.25rem;
    text-align: center;
}

#nova-sessao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 280px;
        
    font-size: 1.1rem;
}

@include tablet-up {
    h1 {
        margin-bottom: 0;
    }

    #nova-sessao {
        width: 350px;
    }
}

@include desktop-up {
    #nova-sessao {
        width: 400px;
    }
}