@use "colors" as *;
@use "breakpoints" as *;

:host {
  display: grid;
  grid-template-rows: 90px 1fr;
  min-height: 100vh;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 0% 2% 0% 2%;

  margin-bottom: 3%;
}

h1 {
  display: flex;
  align-items: center;

  width: 60%;
  height: 100%;

  font-size: 1.60rem;
}

#settings-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  gap: 3px;
}

#settings-list > li > button {
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

#users {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 95%;
  margin-bottom: 3%;
}

.user {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  
  height: 110px;
  width: 92px;
  
  margin-bottom: 5px;
}

.user-estimate {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 65%;
  flex: 0 0 72.5%;

  margin-bottom: 3px;

  border-radius: 5px;
}

.unselected-estimate {
  color: $color-quinary;
  border: 1px dashed $color-quinary;
}

.selected-estimate {
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
  color: $color-primary;
}

.observer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  color: inherit;
}

.user-name {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 90%;
  flex: 0 0 27.5%;

  word-break: break-word;

  font-size: 0.75rem;
}

.user-name > strong {
  text-align: center;
}

#session-estimate-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  height: 160px;
  width: 280px;
  min-height: 160px;
  min-width: 280px;

  margin-bottom: 3%;

  padding: 1%;

  border: 1px solid $color-secondary;
  border-radius: 10px;
}

#session-estimate-card > p {
  text-align: center;
}

#session-estimate-card > #session-average-estimate{
  margin-bottom: 5%;
}

#estimate-button,
#restart-button {
  height: 45px;
  width: 60%;
}

#estimate-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 90%;
  min-width: 290px;

  margin-bottom: 3%;
  padding: 1%;

  border: 1px solid $color-secondary;
  border-radius: 10px;
}

#estimate-options > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
}

#estimate-options > ul > li {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;

  height: 72px;
  width: 51px;

  margin: 1% 1% 1.5% 1%;
}

.estimate-option {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  border: 1px solid $color-secondary;
  border-radius: 5px;

  font-size: 1rem;
}

.estimate-option:disabled {
  color: $color-secondary;
}

.estimate-option-highlight:hover {
  position: relative;
  top: -3px;

  background-color: $color-quaternary;
  color: $color-secondary;

  cursor: pointer;
}

.selected-estimate-option {
  background-color: $color-secondary;
  color: $color-primary;

  position: relative;
  top: -3px;
}

.selected-estimate-option:hover {
  background-color: rgb(230, 230, 230);
  color: $color-primary;

  cursor: pointer;
}

.selected-estimate-option:disabled {
  background-color: $color-secondary;
  color: $color-primary;
  cursor: not-allowed;
}


#edit-estimate-options-button {
  height: 38px;
  width: 38px;

  font-size: 100%;
}

.warning-banner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;

  width: 90%;
  min-width: 290px;

  margin-bottom: 3%;
  padding: 3%;

  border: 1px solid $color-secondary;
  border-radius: 10px;
}

.warning-banner-text {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  
  font-size: 0.9rem;
  text-align: center;
}

#toggle-user-mode-button {
  height: 55px;
  min-width: 190px;
  
  margin: 2% 0%;
  border-radius: 10px;
}

@include tablet-up {
  h1 {
    font-size: 2rem;
  }

  header,
  #session-estimate-card,
  #estimate-options{
    margin-bottom: 1%;
  }

  #settings-list {
    gap: 5px;
  }

  #settings-list > li > button {
    height: 46px;
    width: 46px;
  }

  #users {
    margin-bottom: 0%;
  }

  #estimate-options {
    width: 80%;
    padding: 0.5%;
  }

  #estimate-options > ul > li {
    height: 75px;
    width: 50px;

    margin: 0.5%;
  }

  .warning-banner {
    width: 80%;
    padding: 1.5%;
  }

  .warning-banner-text {
    font-size: 1rem;
  }

  #toggle-user-mode-button {
    margin-top: 1%;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
  }
}
