<app-modal-base [titulo]="this.titulo">
    <form [formGroup]="formOpcoesEstimativa" (ngSubmit)="salvar()">
        <div id="campos">
            <div id="campo-opcoes-estimativa">
                <label for="opcoes-estimativa">
                    Opções de estimativa 
                    <span id="opcoes-estimativa-tooltip" title="Campo precisa ser preenchido no seguinte formato: 1, 2.5, 3.0...">&#xe887;</span>
                </label>
                <input type="text" id="opcoes-estimativa" placeholder="Opções de estimativa" formControlName="opcoesEstimativa">
                @if (formOpcoesEstimativa.invalid && this.submitted) {
                    @if (formOpcoesEstimativa.controls['opcoesEstimativa'].hasError('required')) {
                        <small>Campo obrigatório</small>
                    } @else if (formOpcoesEstimativa.controls['opcoesEstimativa'].hasError('formatacaoInvalida')) {
                        <small>Formatação inválida. Números devem estar separados por ", " e serem positivos</small>
                    } 
                }
                @else {
                }
            </div>
        </div>
        <button 
            type="submit" 
            id="salvar" 
            class="botao-primario"   
            [class.botao-primario-desabilitado]="this.desabilitado"
            [disabled]="this.desabilitado"    
            (click)="salvar()">Salvar</button>
    </form>
</app-modal-base>