@use 'cores' as *;
@use 'breakpoints' as *;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008c;
}

#conteudo-modal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 75%;
    min-height: 300px;
    width: 95%;

    padding: 2%;

    background-color: $cor-primaria;
    border-radius: 10px;
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-self: flex-start;

    height: 10%;
    width: 100%;

    margin-bottom: 15px;
    border-bottom: 1px solid $cor-secundaria;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 2px;
    padding: 5px;
}

@include tablet-up {
    #conteudo-modal {
        width: 80%;
    }
}

@include desktop-up {
    header {
        margin-bottom: 20px;
    }
    #conteudo-modal {
        width: 65%;
    }
}