$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1440px;

@mixin mobile-only {
    @media (max-width: #{$tablet - 1}) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin wide-up {
    @media (min-width: $wide) {
        @content;
    }
}


