/* You can add global styles to this file, and also import other style files */

@use 'index' as *;

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Material Icons';
    box-sizing: border-box;
    color: $cor-secundaria;
    background-color: $cor-primaria;
    transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

body {
    width: 100%;
    min-height: 100vh;
}

li {
    list-style: none;
}
