<header>
  <h1>Planning Poker</h1>
  <div id="dropdown-configuracoes">
    <button
      type="button"
      id="botao-configuracoes"
      class="material-icons botao-primario"
      [class.selecionado]="this.exibirMenuConfiguracoes"
      (click)="abrirFecharMenuConfiguracoes()"
    >
      settings
    </button>
    @if (this.exibirMenuConfiguracoes) {
      <ul id="lista-opcoes-configuracoes" class="exibir-menu-configuracoes">
        <li class="item">
          <button
            type="button"
            id="botao-convidar-equipe"
            (click)="copiarSessaoLink()"
            class="botao-primario"
          >
            Convidar sua equipe
          </button>
        </li>
        <li class="item">
          <button
            type="button"
            id="botao-convidar-equipe"
            class="botao-primario"
            (click)="mudarModoUsuario()"
          >
            {{
              this.sessaoService.usuario()?.observador ? 'Mudar para modo participante' : 'Mudar para modo observador'
            }}
          </button>
        </li>
      </ul>
    }
  </div>
</header>
<section id="secao-principal">
  <div id="usuarios">
    @for (usuario of this.usuariosPresentes(); track $index; let i = $index) {
      <div class="usuario">
        @if (!usuario.observador) {
          <div
            class="usuario-estimativa"
            [class.estimativa-nao-selecionada]="usuario.estimativa === null"
            [class.estimativa-selecionada]="usuario.estimativa !== null"
          >
            {{
              (this.mediaEstimativasSessao() ||
                this.mediaEstimativasSessao() === 0) &&
              usuario.estimativa
                ? usuario.estimativa
                : "?"
            }}
          </div>
        } @else {
          <div class="usuario-estimativa estimativa-nao-selecionada">
            <span class="material-symbols-outlined observador-icone"
              >eyeglasses_2</span
            >
          </div>
        }
        <div class="usuario-nome">
          <strong>{{ usuario.nome }}</strong>
        </div>
      </div>
    }
  </div>
  <div id="mesa">
    @if (
      this.estimativasUsuarios().length > 0 &&
      !this.mediaEstimativasSessao() &&
      this.mediaEstimativasSessao() !== 0
    ) {
      <button
        type="button"
        class="botao-primario"
        id="botao-estimar"
        (click)="calcularEstimativaSessao()"
      >
        Estimar
      </button>
    } @else if (typeof this.mediaEstimativasSessao() === "number") {
      <p>Estimativa da equipe:</p>
      <p id="media-estimativa-sessao">{{ this.mediaEstimativasSessao() }}</p>
      <button
        type="button"
        class="botao-primario"
        id="botao-reiniciar"
        (click)="reiniciarEstimativaSessao()"
      >
        Reiniciar
      </button>
    } @else {
      <p id="mensagem-estimativa-obrigatoria">
        Pelo menos, um participante precisa selecionar sua estimativa. Por favor, aguarde.
      </p>
    }
  </div>
  @if (!this.sessaoService.usuario()?.observador) {
    <div id="estimativas">
      <ul>
        @if (!this.mediaEstimativasSessao() && this.opcoesEstimativa()) {
          <li>
            <button
              type="button"
              class="botao-primario material-icons"
              id="editar-opcoes-estimativas"
              (click)="abrirModalEditarOpcoesEstimativa()"
            >
              edit
            </button>
          </li>
        }
        @for (opcao of this.opcoesEstimativa(); track $index) {
          <li>
            <button
              type="button"
              class="opcao-estimativa"
              [class.opcao-estimativa-selecionada]="
                opcao === this.opcaoSelecionada()
              "
              [class.opcao-estimativa-hover]="!this.mediaEstimativasSessao()"
              [disabled]="this.mediaEstimativasSessao()"
              (click)="selecionarEstimativa(opcao)"
            >
              {{ opcao }}
            </button>
          </li>
        }
      </ul>
    </div>
  }
  @else {
    <div id="modo-observador">
      <p id="texto-sobre-modo-observador">
        Você está no modo de observador. Caso queira estimar também, clique no botão abaixo:
      </p>
      <button
        type="button"
        (click)="mudarModoUsuario()"
        id="botao-mudar-para-modo-participante"
        class="botao-primario"
      >
        Mudar para modo participante</button
      >
    </div>
  }
</section>

<ng-container #toast></ng-container>
<ng-container #modal></ng-container>
<ng-container #loading><ng-container></ng-container></ng-container>
