@use "cores" as *;
@use "breakpoints" as *;

:host {
  display: grid;
  grid-template-rows: 90px 1fr;
  min-height: 100vh;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 0% 2% 0% 2%;

  margin-bottom: 3%;
}

h1 {
  display: flex;
  align-items: center;
  
  width: 80%;
  height: 100%;

  font-size: 1.65rem;
}


#dropdown-configuracoes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;

  position: relative;

  width: 20%;
  height: 100%;
}

#botao-configuracoes {
  width: 50px;
  height: 45px;
}

.selecionado {
  background-color: $cor-secundaria;
  color: $cor-primaria;
}

#lista-opcoes-configuracoes {
  position: absolute;
  top: 85%;
  right: 2;
  z-index: 1;

  width: 200px;

  overflow: auto;

  padding: 1%;

  border: 1px solid $cor-secundaria;
  border-radius: 5px;

  animation: slideScale 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  transform-origin: top right;
}

@keyframes slideScale {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

#lista-opcoes-configuracoes > li > button {
  width: 100%;
  height: 35px;

  border: none;
  border-radius: 5px;

  font-size: 0.85rem;
}

#secao-principal {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

#usuarios {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 95%;
  margin-bottom: 3%;
}

.usuario {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 110px;
  width: 92px;

  margin-bottom: 5px;
}

.usuario-estimativa {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 65%;
  height: 75%;
  
  margin-bottom: 1%;

  border-radius: 5px;
}

.estimativa-nao-selecionada {
  color: $cor-terciaria;
  border: 1px dashed $cor-terciaria;
}

.estimativa-selecionada {
  background-color: $cor-secundaria;
  border: 1px solid $cor-secundaria;
  color: $cor-primaria;
}

.observador-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  color: inherit;
}

.usuario-nome {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  height: 25%;
  width: 90%;

  word-break: break-word;

  font-size: 0.75rem;
}

.usuario-nome > strong {
  text-align: center;
}

#mesa {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  height: 160px;
  width: 280px;
  min-height: 160px;
  min-width: 280px;

  margin-bottom: 3%;

  padding: 1%;

  border: 1px solid $cor-secundaria;
  border-radius: 10px;
}

#mesa > p {
  text-align: center;
}

#mesa > #media-estimativa-sessao {
  margin-bottom: 5%;
}

#botao-estimar,
#botao-reiniciar {
  height: 45px;
  width: 60%;
}

#estimativas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  width: 90%;
  min-width: 290px;

  margin-bottom: 3%;
  padding: 1%;

  border: 1px solid $cor-secundaria;
  border-radius: 10px;
}

#estimativas > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
}

#estimativas > ul > li {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;

  height: 72px;
  width: 51px;

  margin: 1% 1% 1.5% 1%;
}

.opcao-estimativa {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  border: 1px solid $cor-secundaria;
  border-radius: 5px;

  font-size: 1rem;
}

.opcao-estimativa-hover:hover {
  position: relative;
  top: -3px;

  background-color: $cor-quartenaria;
  color: $cor-secundaria;

  cursor: pointer;
}

.opcao-estimativa-selecionada {
  background-color: $cor-secundaria;
  color: $cor-primaria;

  position: relative;
  top: -3px;
}

.opcao-estimativa-selecionada:hover {
  background-color: rgb(230, 230, 230);
  color: $cor-primaria;
}

#editar-opcoes-estimativas {
  height: 55%;
  width: 75%;

  font-size: 100%;
}

#modo-observador {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;

  width: 90%;
  min-width: 290px;

  margin-bottom: 3%;
  padding: 3%;

  border: 1px solid $cor-secundaria;
  border-radius: 10px;
}

#texto-sobre-modo-observador {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  margin-bottom: 2%;

  font-size: 0.9rem;
  text-align: center;
}

#botao-mudar-para-modo-participante {
  height: 55px;
  min-width: 190px;
  border-radius: 10px;
}

@include tablet-up {
  body {
    height: 100vh;
  }

  #estimativas > ul > li {
    margin: 0.5%;
  }
}

@include desktop-up {  
  h1 {
    font-size: 2rem;
  }

  #lista-opcoes-configuracoes {
    width: 250px;
  }

  #lista-opcoes-configuracoes > li > button {
    font-size: 1rem;
  }

  #estimativas {
    width: 80%;
    padding: 0.5%;
  }

  #estimativas > ul > li {
    height: 75px;
    width: 50px;
  }

  #modo-observador {
    width: 80%;
    padding: 1.5%;
  }

  #texto-sobre-modo-observador {
    font-size: 1rem;
  }

  #botao-mudar-para-modo-participante {
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
  }
}